*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.im img{
    height: 600px;
    width: 700px;
    margin-top: 20px;
    border-radius: 4%;
}
.s h1{
    margin-bottom: 450px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    color:rgb(0, 0, 0);
}


.p{
     margin-bottom: 270px;
}

.p p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -290px;
}

.p p a{
     margin-left: 10px;
     position:relative;
    text-decoration:none;
    text-transform: capitalize;
    padding: 0 10px;
    color:rgba(0, 4, 255, 0.932);
}
.p p a:before{
    position: absolute;
    content:  "" ;
    height: 1px;
    background: rgba(252, 0, 0, 0.863)  ;
    left: 0;
    width: 0%;
    bottom: -5px;
    transition: 0.3s;
}

.p p a:hover:before{
    width: 100%;
}

.p p a:hover{
    color:rgba(252, 0, 0, 0.863) ;
}

.input{
 display: block;
 margin-left: -300px;
}

.in-1 input{
    height: 50px;
    width:400px ;
    border-radius: 4em;
    padding: 20px;
    border-bottom: 2px solid blue;
    border-top: 2px solid blue ;
    border-left: 2px solid blue ;
    border-right: 2px solid blue ;
}

.in-1 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: rgba(41, 38, 38, 0.589);
}

.in-2 input{
    height: 50px;
    width:400px ;
    border-radius: 4em;
    padding: 20px;
    border-bottom: 2px solid blue;
    border-top: 2px solid blue ;
    border-left: 2px solid blue ;
    border-right: 2px solid blue ;
}

.in-2 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: rgba(41, 38, 38, 0.589);
}
.in-2{
    margin-top: 40px;
    margin-left: -100px;
}

.in-1{
    margin-top: 50px;
    margin-left: -100px;
}


.ra {
    margin-top: 30px;
}

.ra input{
   margin-left: -60px;
}

.ra a{
    margin-left: 150px;
    position:relative;
    text-decoration:none;
    text-transform: capitalize;
    padding: 0 10px;
    color:rgba(0, 4, 255, 0.932);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ra a:before{
    position: absolute;
    content:  "" ;
    height: 1px;
    background: rgba(252, 0, 0, 0.863)  ;
    left: 0;
    width: 0%;
    bottom: -5px;
    transition: 0.3s;
}

.ra a:hover:before{
    width: 100%;
}

.ra a:hover{
    color:rgba(252, 0, 0, 0.863) ;
}

.oo{
    margin-bottom: -100px;
}
.oo input{
        font-size: 25px;
        height: 50px;
        width: 350px;
        border-radius: 40em;
        background:blue;
        color:white;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border:none;
        transition: 0.9s;
        margin-left: -70px;
        margin-top: 50px;
}

.oo input:hover{
    transform: scale(1.1)
}

@media  (min-width:290px){
    body{
        background-image: url(log.png);
        background-repeat: no-repeat;
        background-size:100% 100vh;
    }

    .im img{
        height: 1px;
        width: 1px;
        border-radius: 1px;
    }

    .s h1{
        font-size: 30px;
        color:white;
        padding-left: 50px;
    }

    .p p{
        font-size: 15px;
        padding-left:150px;
    }


       .in-1 input{
        height: 25px;
        width:250px ;
        padding: 20px;
        margin-left: 180px;
    }
    
    .in-1 p{
        font-size: 17px;
        color: rgba(12, 11, 11, 0.925);
        margin-left: 170px;
    }
       .in-2 input{
        height: 25px;
        width:250px;
        padding: 20px;
        margin-left: 180px;
    }
    
    .in-2 p{
        font-size: 17px;
        color: rgba(12, 11, 11, 0.925);
        margin-left: 170px;
    }
  
    .k {
     margin-left: 150px;
    }

    .oo input{
        font-size: 18px;
        height: 35px;
        width: 170px;
        margin-left: 110px;
}

.ra a{
    margin-left: 200px;
}


}

@media  (min-width:350px){
    body{
        background-image: url(log.png);
        background-repeat: no-repeat;
        background-size:100% 100vh;
    }

    .im img{
        height: 1px;
        width: 1px;
        border-radius: 1px;
    }

    .s h1{
        font-size: 35px;
        color:white;
        padding-left: 40px;
    }

    .p p{
        font-size: 18px;
    }

   

       .in-1 input{
        height: 25px;
        width:280px ;
        padding: 20px;
        margin-right: 30px;
    }
    
    .in-1 p{
        font-size: 17px;
        color: rgba(12, 11, 11, 0.925);
        margin-left: 170px;
    }
       .in-2 input{
        height: 25px;
        width:280px;
        padding: 20px;
        margin-left: 180px;
    }
    
    .in-2 p{
        font-size: 17px;
        color: rgba(12, 11, 11, 0.925);
        margin-left: 170px;
    }
  
    .k {
     margin-left: 150px;
    }

    .oo input{
        font-size: 20px;
        height: 37px;
        width: 240px;
        margin-left: 90px;
}

.ra a{
    margin-left: 200px;
}

}

@media  (min-width:420px){
    body{
        background-image: url(log.png);
        background-repeat: no-repeat;
        background-size:100% 100vh;
    }

    .im img{
        height: 1px;
        width: 1px;
        border-radius: 1px;
    }

    .s h1{
        font-size: 40px;
        color:white;
        padding-left: 45px;
    }

    .p{
     margin-right: -50px;
    }

    .p p{
        font-size: 20px;
    }

       .in-1 input{
        height: 30px;
        width:300px ;
        padding: 20px;
        margin-right: 90px;
    }
    
    .in-1 p{
        font-size: 17px;
        color: rgba(12, 11, 11, 0.925);
        margin-left: 170px;
    }
       .in-2 input{
        height: 30px;
        width:300px ;
        padding: 20px;
        margin-right: 90px;
    }
    
    .in-2 p{
        font-size: 17px;
        color: rgba(12, 11, 11, 0.925);
        margin-left: 170px;
    }
  
    .k {
     margin-left: 150px;
    }

    .oo input{
        font-size: 20px;
        height: 37px;
        width: 240px;
        margin-left: 90px;
}

.ra a{
    margin-left: 200px;
}
    
}
@media  (min-width:520px){

    body{
        background-image: url(log.png);
        background-repeat: no-repeat;
        background-size:100% 100vh;
    }

    .im img{
        height: 1px;
        width: 1px;
        border-radius: 1px;
    }

    .s h1{
        font-size: 40px;
        color:white;
        padding-left: 80px;
    }

    .p{
     margin-right: -50px;
    }

    .p p{
        font-size: 20px;
    }

       .in-1 input{
        height: 30px;
        width:300px ;
        padding: 20px;
        margin-right: 90px;
    }
    
    .in-1 p{
        font-size: 17px;
        color: rgba(12, 11, 11, 0.925);
        margin-left: 170px;
    }
       .in-2 input{
        height: 30px;
        width:300px ;
        padding: 20px;
        margin-right: 90px;
    }
    
    .in-2 p{
        font-size: 17px;
        color: rgba(12, 11, 11, 0.925);
        margin-left: 170px;
    }
  
    .k {
     margin-left: 150px;
    }

    .oo input{
        font-size: 20px;
        height: 40px;
        width: 240px;
        margin-left: 90px;
}

.ra a{
    margin-left: 200px;
}
    
}
@media  (min-width:700px){

    body{
      background:white;
    }

    .im img{
        height: 600px;
        width: 300px;
        border-radius: 4%;
        padding-bottom: 20px;
    }

    .s h1{
        font-size: 40px;
        color:rgb(0, 0, 0);
        padding-left: 20px;
    }

    .p{
     margin-right: -50px;
    }

    .p p{
        font-size: 20px;
    }

       .in-1 input{
        height: 30px;
        width:300px ;
        padding: 20px;
    }
    
    .in-1 p{
        font-size: 17px;
        color: rgba(12, 11, 11, 0.925);
        margin-left: 180px;
    }
       .in-2 input{
        height: 30px;
        width:300px ;
        padding: 20px;
    }
    
    .in-2 p{
        font-size: 17px;
        color: rgba(12, 11, 11, 0.925);
        margin-left: 180px;
    }
  
    .k {
     margin-left: 150px;
    }

    .oo input{
        font-size: 25px;
        height: 40px;
        width: 300px;
        margin-left: 90px;
}

.ra a{
    margin-left: 200px;
}
    
}
@media  (min-width:900px){

    body{
        background:white;
      }
  
      .im img{
          height: 600px;
          width: 450px;
          border-radius: 4%;
          padding-bottom: 20px;
      }
  
      .s h1{
          font-size: 40px;
          color:rgb(0, 0, 0);
          padding-left: 20px;
      }
  
      .p{
       margin-right: -50px;
      }
  
      .p p{
          font-size: 20px;
      }
  
         .in-1 input{
            height: 40px;
            width:350px ;
          padding: 20px;
      }
      
      .in-1 p{
          font-size: 17px;
          color: rgba(12, 11, 11, 0.925);
          margin-left: 180px;
      }
         .in-2 input{
          height: 40px;
          width:350px ;
          padding: 20px;
      }
      
      .in-2 p{
          font-size: 17px;
          color: rgba(12, 11, 11, 0.925);
          margin-left: 180px;
      }
    
      .k {
       margin-left: 150px;
      }
  
      .oo input{
          font-size: 25px;
          height: 45px;
          width: 300px;
          margin-left: 90px;
  }
  
  .ra a{
      margin-left: 300px;
  }

    
}
@media  (min-width:1200px){

    body{
        background:white;
      }
  
      .im img{
          height: 600px;
          width: 700px;
          border-radius: 4%;
          padding-bottom: 20px;
      }
  
      .s h1{
          font-size: 45px;
          color:rgb(0, 0, 0);
          padding-left: 20px;
      }
  
      .p{
       margin-right: -50px;
      }
  
      .p p{
          font-size: 20px;
      }
  
         .in-1 input{
            height: 50px;
            width:400px ;
          padding: 20px;
      }
      
      .in-1 p{
          font-size: 17px;
          color: rgba(12, 11, 11, 0.925);
          margin-left: 175px;
      }
         .in-2 input{
            height: 50px;
            width:400px;
          padding: 20px;
      }
      
      .in-2 p{
          font-size: 17px;
          color: rgba(12, 11, 11, 0.925);
          margin-left: 175px;
      }
    
      .k {
       margin-left: 150px;
      }
  
      .oo input{
          font-size: 25px;
          height: 50px;
          width: 350px;
          margin-left: 90px;
  }
  
  .ra a{
      margin-left: 300px;
  }

}
    

